<%
@StartXpos = 30
@StartYpos = 1

@Heap_left = -28

@length = 217 * @diff_length

@waist_height = 72 * @diff_length
@waist_width = 30 * @diff_waist

@tail = 45 * @diff_tail

@thigh = 3 * @diff_thigh

@rise = 180 * @diff_length
# 값이 오를 때 y 좌표가 올라감
%>
<!--
heap 엉덩이

length 총장

waist 허리

thigh 허벅지

rise 밑위

tail 밑단
-->

<style>
  .back_img
  {
    position: relative;
  }

  .svg_pants
  {
    position: relative;
    margin-top: 0px;
    margin-left: 203px;
  }
</style>
<h1>결과 뷰</h1>
<p>Find me in app/views/sizingreal/result.html.erb</p>
<p> <a href="/sizingreal/input"> 입력 뷰로 이동 </a></p>

<div class="back_img">
<img src="/assets/size_low.png">
</div>

<svg width="547" height="349" class="svg_pants">
 <g>
  <path stroke="black"
    d="m<%=@StartXpos%>,
    <%=@StartYpos%>l<%=@Heap_left%>,
    <%=@waist_height%>l<%=@thigh%>,
    <%=@length%>l<%=@tail%>,
    0l<%=@waist_width%>,
    -<%=@rise%>l<%=@waist_width%>,
    <%=@rise%>l<%=@tail%>,
    0l<%=@thigh%>,
    -<%=@length%>l-<%=@StartXpos%>,
    -<%=@waist_height%>"
    stroke-width="5" fill="yellow"/>
 </g>
</svg>

<% @hash_jean_size.each do |k, v| %>
  <p> <%=k%> = <%=v%> </p>
<% end %>
<br>
<% @hash_my_size.each do |k, v| %>
  <p> <%=k%> = <%=v%> </p>
<% end %>

<p><%= @diff_length %></p>
<p><%= @diff_waist %></p>
<p><%= @diff_thigh %></p>
<p><%= @diff_rise %></p>
<p><%= @diff_tail %></p>

<!-- 각 차이 값을 이용하여 비교하고 path에 적용하는 작업 해야 함-->
